*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:80vh;
    width: 100%;
}


h1{
    font-size: 25px;
    text-transform: uppercase;
    color:#9739c9;
    padding-bottom: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
    max-width: 70%;
    width: 350px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom:20px;
    padding:40px;
    border-radius: 10px;
    
}
form{
    display:flex;
    flex-direction:column;
}
.error{
    display:none;
    color:red;
    font-size:12px;
    margin-bottom: 5px;
}


label{
color: #962be7;
}
input[name=name], input[name=email], input[name=phone], input[name=password], input[name=confirm-password]{
   width:100%;
   padding: 8px;
   border-radius:4px;
   margin-bottom:10px;
   outline: none;

   color:hsl(245, 7%, 36%);
   border: 1px solid #962be7;
}
button{
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color:#962be7;
    color: #fff;
    /* color: #0dcaf0; */
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius:4px;
}
